@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.2rem;
  margin: 0px;
}

.bg-primary {
  background-color: brown !important;
}

.text-primary {
  color: brown !important;
}

/* Blog Posts */
.blog-title {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.blog-date {
  color: grey;
  font-size: 10px;
}

.blog-featured-image {
  width: 100%;
}

.profile-img {
  width: 100%;
  border-radius: 50%;
}

/* Skills*/
.skills-wrap {
  width: 100%;
  background-color: #ddd;
  margin-bottom: 15px;
}

.skills {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 95%; background-color: #f16529;}
.css {width: 90%; background-color: #29a8e0;}
.js {width: 90%; background-color: #8acf17;}
.php {width: 95%; background-color: #777bb3;}
.mysql {width: 90%; background-color: #e58e00;}
.codeigniter {width: 88%; background-color: #4CAF50;}
.wordpress {width: 85%; background-color: #4CAF50;}
.react {width: 95%; background-color: #4CAF50;}
.node {width: 95%; background-color: #4CAF50;}



